schema/CurrencyDemo-data.dtd

<!ELEMENT dataset (
    CommonParms_COP|
    Currency_CUR|
    EmiR_Z_RFU|
    OBJ|
    OMR|
    OMR1|
    OrderBacklogPerMonth_OBT|
    OrderItem_ORD|
    User_USR|
    Z_YesNo)*>
<!ATTLIST dataset
    name CDATA #IMPLIED
>
<!ELEMENT CommonParms_COP EMPTY>
<!ATTLIST CommonParms_COP
    COP_Id CDATA #REQUIRED
    COP_Description CDATA #IMPLIED
    COP_Dummy CDATA #IMPLIED
>

<!ELEMENT Currency_CUR EMPTY>
<!ATTLIST Currency_CUR
    CUR_Client CDATA #REQUIRED
    CUR_CurrencyCode CDATA #REQUIRED
    CUR_ExchangeRate CDATA #IMPLIED
    CUR_OrderValueUSD CDATA #IMPLIED
    CUR_OrderAmountAverage CDATA #IMPLIED
    CUR_Client_RelatedTo CDATA #IMPLIED
    CUR_CurrencyCode_RelatedTo CDATA #IMPLIED
>

<!ELEMENT EmiR_Z_RFU EMPTY>
<!ATTLIST EmiR_Z_RFU
    RFU_RFURSN CDATA #REQUIRED
    RFU_ARTAL_FROM CDATA #IMPLIED
    RFU_PERIOD_FROM CDATA #IMPLIED
    RFU_KT2_FROM CDATA #IMPLIED
    RFU_KT2_TOM CDATA #IMPLIED
    RFU_NIVA_FROM CDATA #IMPLIED
    RFU_SUMMERA_UNIVA CDATA #REQUIRED
    RFU_RAPPID CDATA #IMPLIED
    RFU_UTDATA CDATA #IMPLIED
    RFU_RGHRSN CDATA #IMPLIED
    RFU_BOLNR CDATA #IMPLIED
    RFU_BESKRIVNING CDATA #IMPLIED
    RFU_RAPPORTID CDATA #IMPLIED
    RFU_DATETIME CDATA #IMPLIED
>

<!ELEMENT OBJ EMPTY>
<!ATTLIST OBJ
    OBJ_OBJNR CDATA #REQUIRED
    OBJ_BOSOK1_OMR CDATA #IMPLIED
    OBJ_BOSOK2_OMR CDATA #IMPLIED
>

<!ELEMENT OMR EMPTY>
<!ATTLIST OMR
    OMR_OMR CDATA #REQUIRED
    OMR_BESK CDATA #IMPLIED
    OMR_INGIOMR CDATA #IMPLIED
>

<!ELEMENT OMR1 EMPTY>
<!ATTLIST OMR1
    OMR1_OMR CDATA #REQUIRED
    OMR1_BESK CDATA #IMPLIED
    OMR1_INGIOMR CDATA #IMPLIED
>

<!ELEMENT OrderBacklogPerMonth_OBT EMPTY>
<!ATTLIST OrderBacklogPerMonth_OBT
    OBT_Client CDATA #REQUIRED
    OBT_Month CDATA #REQUIRED
    OBT_OrderValueUSD CDATA #IMPLIED
>

<!ELEMENT OrderItem_ORD EMPTY>
<!ATTLIST OrderItem_ORD
    ORD_Client CDATA #IMPLIED
    ORD_OrderId CDATA #REQUIRED
    ORD_Month CDATA #IMPLIED
    ORD_CurrencyCode CDATA #IMPLIED
    ORD_AmountInLocalCurrency CDATA #IMPLIED
    ORD_AmountInUSD CDATA #IMPLIED
    ORD_ExchangeRate CDATA #IMPLIED
    ORD_Approved CDATA #IMPLIED
>

<!ELEMENT User_USR EMPTY>
<!ATTLIST User_USR
    USR_Rsn CDATA #REQUIRED
    USR_Login CDATA #IMPLIED
    USR_Password CDATA #IMPLIED
    USR_Role CDATA #IMPLIED
>

<!ELEMENT Z_YesNo EMPTY>
<!ATTLIST Z_YesNo
    Stored CDATA #REQUIRED
    Displayed CDATA #IMPLIED
>

